Repository jonshaffer/wgu-extension: changes, and which lint-staged commands are due for each by the changed paths.
All: cd functions && npx eslint --fix, echo 'Staged files validated. Type checking happens separately.'

.lintstagedrc.json:

{
  "functions/**/*.{ts,js}": [
    "cd functions && npx eslint --fix"
  ],
  "*.{ts,tsx,js,jsx,json,yml,yaml,md}": [
    "echo 'Staged files validated. Type checking happens separately.'"
  ]
}

chore(deps): consolidate all dependency updates and configure monthly grouped PRs
  .github/dependabot.yml
  .github/workflows/catalog-check.yml
  .github/workflows/community-data-cd.yml
  .github/workflows/data-cd.yml
  .github/workflows/functions-ci.yml
  .github/workflows/site-ci.yml
  .github/workflows/wxt-extension-ci.yml
  .lintstagedrc.json
  data/package.json
  data/types/src/catalog.ts
  data/types/src/courses.ts
  data/types/src/degree-programs.ts
  data/types/src/firestore.ts
  extension/package.json
  functions/.eslintrc.js
  functions/package.json
  pnpm-lock.yaml
  site/package.json
Due: cd functions && npx eslint --fix, echo 'Staged files validated. Type checking happens separately.'

fix(hooks): correct lint-staged path handling for functions workspace
  .lintstagedrc.json
Due: echo 'Staged files validated. Type checking happens separately.'

chore(hooks): remove pre-push validation hooks
  lefthook.yml
Due: echo 'Staged files validated. Type checking happens separately.'

chore(deps): consolidate all dependency updates and configure monthly grouped PRs (#32)
  .github/dependabot.yml
  .github/workflows/catalog-check.yml
  .github/workflows/community-data-cd.yml
  .github/workflows/data-cd.yml
  .github/workflows/functions-ci.yml
  .github/workflows/site-ci.yml
  .github/workflows/wxt-extension-ci.yml
  .lintstagedrc.json
  data/package.json
  data/types/src/catalog.ts
  data/types/src/courses.ts
  data/types/src/degree-programs.ts
  data/types/src/firestore.ts
  extension/package.json
  functions/.eslintrc.js
  functions/package.json
  lefthook.yml
  pnpm-lock.yaml
  site/package.json
Due: cd functions && npx eslint --fix, echo 'Staged files validated. Type checking happens separately.'

feat(extension): add ESLint configuration and linting
  extension/.eslintrc.cjs
  extension/package.json
Due: echo 'Staged files validated. Type checking happens separately.'

chore(eslint): add shared ESLint base configuration
  eslint.base.js
  functions/.eslintrc.js
Due: cd functions && npx eslint --fix, echo 'Staged files validated. Type checking happens separately.'

feat(workspaces): add ESLint configuration to site, data, and graphql-client
  data/.eslintrc.cjs
  data/package.json
  graphql-client/.eslintrc.cjs
  graphql-client/package.json
  site/.eslintrc.cjs
  site/package.json
Due: echo 'Staged files validated. Type checking happens separately.'

feat(hooks): extend lint-staged to all workspaces
  .lintstagedrc.json
Due: echo 'Staged files validated. Type checking happens separately.'

chore: updated lockfile
  pnpm-lock.yaml
Due: echo 'Staged files validated. Type checking happens separately.'

chore: standardize ESLint config naming and improve lint-staged portability
  .lintstagedrc.json
  functions/.eslintrc.cjs
  functions/scripts/.eslintrc.cjs
  functions/src/test/.eslintrc.cjs
Due: echo 'Staged files validated. Type checking happens separately.'

chore: dependency consolidation and ESLint infrastructure rollout (#34)
  .lintstagedrc.json
  data/.eslintrc.cjs
  data/package.json
  eslint.base.js
  extension/.eslintrc.cjs
  extension/package.json
  functions/.eslintrc.cjs
  functions/scripts/.eslintrc.cjs
  functions/src/test/.eslintrc.cjs
  graphql-client/.eslintrc.cjs
  graphql-client/package.json
  pnpm-lock.yaml
  site/.eslintrc.cjs
  site/package.json
Due: echo 'Staged files validated. Type checking happens separately.'

docs: add comprehensive release strategy and deployment runbook
  docs/DEPLOYMENT-RUNBOOK.md
  docs/RELEASE-STRATEGY.md
Due: echo 'Staged files validated. Type checking happens separately.'

feat: add automated deployments and release notes generation
  .github/workflows/release-please.yml
  scripts/generate-store-release-notes.js
Due: echo 'Staged files validated. Type checking happens separately.'

docs: update release and main documentation with new workflows
  README.md
  docs/RELEASES.md
Due: echo 'Staged files validated. Type checking happens separately.'

fix: address PR review feedback and lint-staged hang
  .github/workflows/release-please.yml
  lefthook.yml
  package.json
  pnpm-lock.yaml
  scripts/generate-store-release-notes.js
Due: echo 'Staged files validated. Type checking happens separately.'

feat: comprehensive release strategy and automated deployments (#35)
  .github/workflows/release-please.yml
  README.md
  docs/DEPLOYMENT-RUNBOOK.md
  docs/RELEASE-STRATEGY.md
  docs/RELEASES.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
  scripts/generate-store-release-notes.js
Due: echo 'Staged files validated. Type checking happens separately.'

chore: add speckit commands, scripts, and templates
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .claude/commands/speckit.taskstoissues.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Due: echo 'Staged files validated. Type checking happens separately.'

docs: update project constitution to v1.0.0
  .specify/memory/constitution.md
Due: echo 'Staged files validated. Type checking happens separately.'

fix: address PR #41 review feedback
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.taskstoissues.md
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
Due: echo 'Staged files validated. Type checking happens separately.'

feat(infra): add Workload Identity Federation infrastructure
  infra/.gitignore
  infra/README.md
  infra/main.tf
  infra/outputs.tf
  infra/providers.tf
  infra/terraform.tfvars.example
  infra/variables.tf
Due: echo 'Staged files validated. Type checking happens separately.'

feat(config): centralize configuration into shared modules
  extension/utils/config.ts
  extension/utils/ingest.ts
  graphql-client/src/client.ts
  site/app/lib/apollo-client.ts
  site/app/lib/config.ts
  site/app/lib/firebase.ts
  site/app/lib/graphql-client.ts
  site/app/routes/admin/suggestions.tsx
  site/app/routes/docs.api-explorer.tsx
  site/app/routes/docs.api.tsx
  site/app/routes/suggest.tsx
Due: echo 'Staged files validated. Type checking happens separately.'

feat(ci): update workflow for WIF authentication and env examples
  .github/workflows/release-please.yml
  extension/.env.example
  site/.env.example
Due: echo 'Staged files validated. Type checking happens separately.'

chore(firebase): update .firebaserc configuration
  .firebaserc
Due: none

style(functions): apply ESLint auto-fixes
  functions/src/lib/cors.ts
  functions/src/lib/data-transformation.ts
Due: cd functions && npx eslint --fix, echo 'Staged files validated. Type checking happens separately.'

refactor: address PR #42 review feedback
  extension/utils/config.ts
  extension/utils/ingest.ts
  infra/main.tf
  site/app/lib/config.ts
  site/app/routes/home.tsx
  site/app/routes/reddit/details.tsx
  site/app/routes/student-groups/index.tsx
  site/app/routes/wgu-connect/details.tsx
Due: echo 'Staged files validated. Type checking happens separately.'

fix(site): remove unused ts-expect-error directive
  site/app/routes/docs/privacy.tsx
Due: echo 'Staged files validated. Type checking happens separately.'

chore(speckit): migrate to latest github/spec-kit structure
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.taskstoissues.md
  .specify-archive/features/community-data-integration.md
  .specify-archive/features/course-enhancement.md
  .specify-archive/features/data-processing-pipeline.md
  .specify-archive/features/search-functionality.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  CLAUDE.md
Due: echo 'Staged files validated. Type checking happens separately.'

docs(specs): add GraphQL API architecture specification
  specs/001-graphql-api-architecture/checklists/requirements.md
  specs/001-graphql-api-architecture/plan.md
  specs/001-graphql-api-architecture/spec.md
Due: echo 'Staged files validated. Type checking happens separately.'

chore: pnpm lock file fix
  pnpm-lock.yaml
Due: echo 'Staged files validated. Type checking happens separately.'

fix(functions): align CORS allowlist with documented policy
  .lintstagedrc.json
  functions/CLAUDE.md
  functions/src/http/graphql-public.ts
  functions/src/lib/cors.ts
  functions/src/test/cors.test.ts
Due: cd functions && npx eslint --fix, echo 'Staged files validated. Type checking happens separately.'

chore: pin GitHub Actions to commit SHAs
  .github/workflows/catalog-check.yml
  .github/workflows/community-data-cd.yml
  .github/workflows/data-cd.yml
  .github/workflows/functions-ci.yml
  .github/workflows/publish-data-beta.yml
  .github/workflows/publish-data.yml
  .github/workflows/publish-webstores.yml
  .github/workflows/release-please.yml
  .github/workflows/site-ci.yml
  .github/workflows/validate-discord-data.yml
  .github/workflows/validate-reddit-data.yml
  .github/workflows/wxt-extension-ci.yml
Due: echo 'Staged files validated. Type checking happens separately.'

chore: use pnpm exec for eslint in remaining lint-staged workspace hooks
  .lintstagedrc.json
Due: echo 'Staged files validated. Type checking happens separately.'

fix(functions): use Yoga built-in CORS, tighten chrome-extension regex
  functions/CLAUDE.md
  functions/src/http/graphql-public.ts
  functions/src/lib/cors.ts
  functions/src/test/cors.test.ts
Due: cd functions && npx eslint --fix, echo 'Staged files validated. Type checking happens separately.'

fix(functions): include X-Extension-Version and X-Client in public CORS preflight
  functions/src/http/graphql-public.ts
Due: cd functions && npx eslint --fix, echo 'Staged files validated. Type checking happens separately.'

fix: remove ADMIN_EMAILS env-var admin path from checkAdminPermissions
  functions/src/lib/auth.ts
Due: cd functions && npx eslint --fix, echo 'Staged files validated. Type checking happens separately.'

fix(rules): remove broken automated bypass in suggestions create rule
  firebase/firestore-admin.rules
  functions/package.json
  functions/src/test/firestore-admin-rules.integration.test.ts
  pnpm-lock.yaml
Due: cd functions && npx eslint --fix, echo 'Staged files validated. Type checking happens separately.'

fix: query admin_users in admin DB and short-circuit on token claim
  functions/src/lib/auth.ts
Due: cd functions && npx eslint --fix, echo 'Staged files validated. Type checking happens separately.'
